<!-- view/partial/navbar.ejs-->
<a class="navbar-brand js-scroll-trigger" href="#page-top">
    
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/index" style="color:white;">HOME</a>
        </li>
        <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/updated" style="color:white;">UPDATE PROFILE</a>
        </li>
        <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/upload" style="color:white;">UPLOAD DOCUMENTS</a>
        </li>
        <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/newpassword" style="color:white;">CHANGE PASSWORD</a>
        </li>
        <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/user/logout" style="color:white;">LOGOUT</a>
        </li>
    </ul>
  </div>
