<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('./partials/head.ejs') %>
  <link href="/css/custom.css" rel="stylesheet">
  <link href="/css/resume.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <%- include ('./partials/navbaradmin.ejs') %> 
    </nav>
    <div class="container" style="width:90%;margin-top:5%;" >
      <section class=" p-lg-0 " id="update"></section>
        <form method="POST" action="/user/newpassword" id="password">
          <div class="my-auto item" id="personal" >

          <h4><label for="OldPassword"style="color:black;font-size:30px;margin-left:40%;margin-bottom:2%;">OLD PASSWORD</label></h4>
            <input id="OldPassword" type="password" name="OldPassword" style="width: 35%;border-radius:5px;margin-left:33%;" required />
          </br></br></br>
          <h4><label for="NewPassword<" style="color:black;font-size:30px;margin-left:40%;margin-bottom:2%;">NEW PASSWORD</label></h4>
            <input id="NewPassword<" type="password" name="NewPassword" style="width: 35%;border-radius:5px;margin-left:33%;"  required />
            </br></br></br>
            <button class="btn btn--radius-2 btn--red" type="submit" style="margin-left:44%; "> Change </button>
          </div>
        </form>
      </section>
    </div>
    
    <%- include ('./partials/bootjs') %>
    <script>
      $( "#password" ).submit(function( event ) {

          // Stop form from submitting normally
          event.preventDefault();

          // Get some values from elements on the page:
          var $form = $( this ),
            term1 = $form.find( "input[name='OldPassword']" ).val(),
            term2 = $form.find( "input[name='NewPassword']" ).val(),
            url = $form.attr( "action" );

            console.log(url,term1,term2);


          // Send the data using post
          var posting = $.post( url, { OldPassword: term1, NewPassword: term2 } );


          // Put the results in a div
          posting.done(function( data ) {
            if(data["success"] == true )
              alert("Password changed successfully");
            else
            alert("Old password not found in database");
          });
      });
    </script>

</body>

</html>