<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ./partials/head %>
    <style>
    
    </style>
  </head>

  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <% include ./partials/navbaradmin %>
    </nav>

    <div class=" box" style="width:69%;margin-right:20%;" id="adminviewer">
      
     
    </div>
    <% include ./partials/bootjs %>
    <script>
    
                    
            function create(url)
            {
                const request = new XMLHttpRequest();
                request.open('GET', '/user');
                request.send(); 
    
                
                request.onload = function() {
                if (request.status === 200) {
                    console.log("Success"); 
                    data = JSON.parse(request.response);

                    var titles = new Array("Username", "Name", "Department", "Action");
                    
                    
                    var table = document.createElement("table");
                    table.setAttribute("class", "table table-striped table-primary");
                    var tr = table.insertRow(-1); 
                    for (var i = 0; i < titles.length; i++) {
                        var th = document.createElement("th");
                        th.innerHTML = titles[i];
                        tr.appendChild(th);
                    }
                    for (var i = 0; i < data.length; i++) {
                        tr = table.insertRow(-1);
                        var tabCell = ""
                        var id = data[i]["id"];
                        var uname = data[i]["name"];
                        var url = "/details/" + id;
                        tabCell = tr.insertCell(-1);
                        tabCell.innerHTML = uname;
                        $.ajax({
                          url: url,
                          async: false,
                          dataType: 'json',
                          success: function (response) {
                            name = response["data"]["firstname"] + " " + response["data"]["lastname"];
                            tabCell = tr.insertCell(-1);
                            if (name != null)
                            {
                              tabCell.innerHTML = name;
                            }
                            else{
                              tabCell.innerHTML = "yet to fill";
                            }
                            tabCell = tr.insertCell(-1);
                            dept = response["data"]["dept"];
                            if (dept != null)
                            {
                              tabCell.innerHTML = dept;
                            }
                            else{
                              tabCell.innerHTML = "yet to fill";
                            }
                            

                          }
                        });
                        tabCell = tr.insertCell(-1);
                        tabCell.innerHTML = "<a class=\"btn btn-danger btn-xs\" href=\" /user/" + id + "\"><i class=\"fa fa-trash\"></i></a>";
                        
                    }
                    var divContainer = document.getElementById("adminviewer");
                    divContainer.innerHTML = "";
                    divContainer.appendChild(table);
                    } 
                };
                
                request.onerror = () => {
                console.log("error")
                };
            }
            create();
      

</script>

   
  </body>

</html>
