<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body id="page-top">
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <!-- view/partial/navbar.ejs-->
      <% include ./partials/navbaradmin %>
  
    </nav>


    <div class="container-fluid p-0" >
      <section class=" p-lg-4 " id="update">
        <form method="POST" action="/newpassword">
          <div class="my-auto item" id="personal" style="margin-left:35%;">

            <h4><label for="OldPassword" style="color:black;font-size:24px;">Old Password</label></h4>
            <input id="OldPassword" type="text" name="OldPassword" style="width: 30%;padding:5px;border-radius:4px;" required />
          </br></br></br>
            <h4><label for="NewPassword<" style="color:black;font-size:24px;">New Password</label></h4>
            <input id="NewPassword<" type="text" name="NewPassword" style="width: 30%;padding:5px;border-radius:4px;"
              required />
            </br></br></br>
            <button class="btn btn--radius-2 btn--red" type="submit"> Change </button>
          </div>
        </form>
      </section>
    </div>
    
    <% include ./partials/bootjs %>

</body>

</html>