<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include ('./partials/head.ejs') %>
    <link href="/css/custom.css" rel="stylesheet">
    <link href="/css/resume.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  </head>

  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <%- include ('./partials/navbaradmin') %>
    </nav>

    <div class="container " style="margin-left:15%;margin-top:5%;">
      <section class=" p-lg-4 " id="update">
        <form action="/user/add" id="myform">
          <div class="my-auto item" id="personal">

            <h4><label for="username" style="color:black;font-size:30px;margin-left:36%;">Username</label></h4>
            <input id="name" type="text" name="name" style="width: 33%;padding:5px;;margin-left:27%" required />

            </br>
          </br>
            <button class="btn btn--radius-2 btn--red"  type="submit"> CREATE </button>
          </div>
        </form>
        <div id="display" style="color:black;font-size:25px;margin-left:25%;margin-top:15%;">
 </div>
      </section>
    </div>  
    <%- include ('./partials/bootjs.ejs') %>
    <script>
      $( "#myform" ).submit(function( event ) {
 
        // Stop form from submitting normally
        event.preventDefault();

        // Get some values from elements on the page:
        var $form = $( this ),
          term = $form.find( "input[name='name']" ).val(),
          url = $form.attr( "action" );


        // Send the data using post
        var posting = $.post( url, { name: term } );


        // Put the results in a div
        posting.done(function( data ) {
          console.log(data["password"]);
          password = data["password"];
          
          $( "#display" ).empty().append("The Password Generated Is : <mark>"+password+ "</mark>");
        });
        });
    </script>

  </body>

</html>
