<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>
  <link href="css/custom.css" rel="stylesheet">
  <style>
    /* unvisited link */
    a:link {
      color:black;
    }
    
    /* visited link */
    a:visited {
      color:#BD5D38;
    }
    
    /* mouse over link */
    a:hover {
      color: #BD5D38;
    }
    
    /* selected link */
    a:active {
      color:  hotpink;
    }
    ul {
      list-style-image: url('sqpurple.gif');
    }
    </style>
</head>

<body id="page-top" onload="loadAgeSelector()">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <% include ./partials/navbar %>
  </nav>
  <div class="container-fluid p-0" style="width:69%;margin-right:10%;">
    <section class=" p-lg-4 " id="update">
      <ul>
      <h4><li><a href="" > Faculty Development Program </a></li></h4></br>
      <h4><li><a href="" > Short Term Training Program </a></li></h4></br>
      <h4><li></li><a href="" > Program Attended </a></li></h4></br>
      <h4><li></li><a href="" > Seminars & Workshops </a></li></h4></br>
      <h4><li></li><a href="" > MRG </a></li></h4></br>
      <h4><li></li><a href="" > Journals </a></li></h4></br>
      <h4><li></li><a href="" > Conference </a></li></h4></br>
    </ul>
  </section>

  </div>
   
  <% include ./partials/bootjs %>
  <script src="js/dropzone.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</body>

</html>