<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('./partials/head.ejs') %>
  <!-- Custom styles for this template -->
  <link href="/css/custom.css" rel="stylesheet">
<style>
    th{
      color: #fff;
      background:#0062cc;
    }
    td{
      background:aliceblue;
    }
</style>

</head>

<body id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <%- include ('./partials/navbaradmin.ejs') %>
  </nav>
  </nav>
  <div class="container-fluid p-0" style="width:69%;margin-right:10%;">
    <section class=" p-lg-4 " id="report">
      <form method="POST" action="/admin/report" id="admin">
        <div class="my-auto item" id="documents">

          <h4><label for="username" style="color:black;font-size:35px;margin-left:36.5%;"> Report Generation</label>
          </h4>

          <label> Year </label></br>
          <select id="ryear" type="text" name="ryear" style="width: 24%;padding:5px;"></select></br>


          <label>Department</label></br>
          <select id="rdept" name="rdept" style="width: 24%;padding:5px;" onchange="changename(this.value);">
            <option value="" selected="selected">All</option>
            <option value="Computer Science">Computer Science</option>
            <option value="Information Technology">IT</option>
            <option value="Electronics and Computer Science">Electronics</option>
            <option value="Production">Production</option>
          </select>
          </br>

          <label> Faculty Name </label></br>
          <select id="ruser" name="ruser" style="width: 24%;padding:5px;">
            <option value="">All</option>
          </select></br>


          <label>Category</label></br>
          <select id="rcat" name="rcat" style="width: 24%;padding:5px;" onchange="changecat(this.value);">
            <option value="" selected="selected">All</option>
            <option value="fdp"> Faculty Development Program </option>
            <option value="sttp"> Short Term Training Programs </option>
            <option value="mrg"> Research & Development / Consultancy </option>
            <option value="journal"> Journals </option>
            <option value="conference"> Conference </option>
            <option value="progatt"> Programs Attended </option>
            <option value="semwork"> Seminar/Workshop </option>
          </select>
          </br>


          <div id="int">
            <label>International/National</label></br>
            <select id="ri" name="ri" style="width: 24%;padding:5px;">
              <option value="" selected="selected">All</option>
              <option value="Inter"> International </option>
              <option value="Nat"> National </option>
            </select>
          </div>




          <div id="spon">
            <label> Sponsorship </label></br>
            <select id="rspon" name="rspon" style="width: 24%;padding:5px;">
              <option value="" selected="selected">All</option>
              <option value="College Sponsored"> College Sponsored </option>
              <option value="Self Sponsored"> Self Sponsored </option>
            </select>
          </div>



        </div>
        <button class="btn btn--radius-2 btn--red" type="submit" value="report"> Report</button></br>
      </form>
    </section>
  </div>
  <div id="print" style="margin-left:20%;margin-right:4%;"></div>
  <div id="printarea" style="margin-left:14%;"></div>


  <!-- Bootstrap core JavaScript -->
  <script src="/vendorresume/jquery/jquery.js"></script>
  <script src="/vendorresume/bootstrap/js/bootstrap.bundle.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/vendorresume/jquery-easing/jquery.easing.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/js/resume.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    var int = document.getElementById("int");
    var sponso = document.getElementById("spon");
    int.style.display = "none";
    sponso.style.display = "none";

    var end = 1900;
    var start = new Date().getFullYear();
    var options = "";
    options += "<option value=\"\">" + "All" + "</option>"
    for (var year = start; year >= end; year--) {
      options += "<option value=\"" + year + "\">" + year + "</option>";
    }
    document.getElementById("ryear").innerHTML = options;

    function create(dept) {
      const request = new XMLHttpRequest();
      request.open('GET', '/user');
      request.send();

      request.onload = function () {
        if (request.status === 200) {
          console.log("Success");
          data = JSON.parse(request.response);

          var option = "<option value=\"\" selected=\"selected\">All</option>";

          for (var i = 0; i < data.length; i++) {
            const firstname = data[i]["data"]["firstname"];
            const lastname = data[i]["data"]["lastname"];
            const id = data[i]["data"]["id"];
            const fullname = firstname + " " + lastname;
            if (dept === "") {
              option += "<option value=\"" + id + "\">" + fullname + "</option>";
            }
            else if (dept === data[i]["data"]["dept"]) {
              option += "<option value=\"" + id + "\">" + fullname + "</option>";
            }
          }
          var name = document.getElementById("ruser");
          name.innerHTML = option;
        };
      }
    }

    function changecat(value) {
      var international = document.getElementById("ri");
      var spon = document.getElementById("rspon");

      if (value == "journal" || value == "conference") {
        //international.disabled = false;
        int.style.display = "block";
        //spon.disabled=true;
        sponso.style.display = "none";
      } else if (value == "fdp" || value == "sttp" || value == "progatt") {
        //international.disabled = true;
        //spon.disabled=false;
        sponso.style.display = "block";
        int.style.display = "none";
      }
      else if (value == "mrg" || value == "semwork") {
        //international.disabled = true;
        //spon.disabled=true;
        sponso.style.display = "none";
        int.style.display = "none";
      }
      else {
        //international.disabled = false;
        //spon.disabled=false;
        sponso.style.display = "block";
        int.style.display = "block";
      }

    }

    function changename(value) {
      create(value);
    }

    create("");
  </script>

  <script>
    $("#admin").submit(function (event) {

      // Stop form from submitting normally
      event.preventDefault();

      // Get some values from elements on the page:
      var form = $(this);
      console.log("hey");
      // Send the data using post
      var posting = $.post("/admin/report", form.serialize(), function (data) {
        console.log("Success", data);

        var divContainer = document.getElementById("print");
        divContainer.innerHTML = "";
        for (route in data) {
          if (data[route] != null && data[route].length != 0 && route != "users") {
            const users = data["users"];
            table = createTable(route, data[route], users);
            divContainer.appendChild(table);
            divContainer.appendChild(document.createElement("br"));

          }
        }
        var print = document.getElementById("printarea");
        print.innerHTML = "<button class=\"btn btn--radius-2 btn--red\" id=\"printbutton\" onclick=\"printdiv()\" style=\"padding: 0px;\"> Download </button>";

      });
    });

    function createTable(route, data, users) {
      var col = [];
      var titlemrg = new Array("Name", "Department","Category","Title","Authority","Year Approved","Grant Approved","Action");
      var titleprogatt = new Array("Name", "Department","Date","Type"," Title"," College","Sponsorship","No of Days","Action");
      var titlesemwork = new Array("Name", "Department","Date"," College"," No of Days","Date","Type","Action");
      var titlefdpsstp = new Array("Name", "Department","Date"," Title"," College","No of Days","Sponsorship","Action");
      var titlescon = new Array("Name", "Department","International/National","Main Author","ISSN","Date"," Title ","Research Title","DUI","Action");
      var titlesjor = new Array("Name", "Department","Date","Title","Research Title","ISSN"," International/National ","Main Author","DUI","Action");
      var array = {};
      array["conference"]="Conference";
      array["journal"]="Journal";
      array["sttp"] = "Short Term Training Program";
      array["fdp"] = "Faculty Development Program";
      array["mrg"] = "Research & Development";
      array["semwork"] = "Seminar/Workshop";
      array["progatt"] = "Programs Attended";
      console.log("data is ", data);
      var table = document.createElement("table");
      if (data.length > 0) {

        console.log("route is ", route);
        for (var i = 0; i < data.length; i++) {
          for (var keys in data[i]) {
            if (col.indexOf(keys) === -1) {
              col.push(keys);
            }
          }
        }
        table.setAttribute("class", "tblcls table table-striped table-primary");
        var tr = table.insertRow(-1);
        if (route == "conference") {
          for (keys in titlescon) {
            var th = document.createElement("th");
        
            if(titlescon[keys] == "Action")
              {th.classList.add("hideElement");}
            th.innerHTML = titlescon[keys];
            tr.appendChild(th);
          }

        }
        else if (route == "journal") {
          for (keys in titlesjor) {
            var th = document.createElement("th");
            if(titlesjor[keys] == "Action")
              {th.classList.add("hideElement");}
            th.innerHTML = titlesjor[keys];
            tr.appendChild(th);
          }

        }
        else if (route == "fdp" || route == "sttp") {
          for (keys in titlefdpsstp) {
            var th = document.createElement("th");
            if(titlefdpsstp[keys] == "Action")
              {th.classList.add("hideElement");}
            th.innerHTML = titlefdpsstp[keys];
            tr.appendChild(th);
          }
        }
        else if (route == "semwork") {
          for (keys in titlesemwork) {
            var th = document.createElement("th");
            if(titlesemwork[keys] == "Action")
              {th.classList.add("hideElement");}
            th.innerHTML = titlesemwork[keys];
            tr.appendChild(th);
          }
        }
        else if (route == "progatt") {
          for (keys in titleprogatt) {
            var th = document.createElement("th");
            if(titleprogatt[keys] == "Action")
              {th.classList.add("hideElement");}
            th.innerHTML = titleprogatt[keys];
            tr.appendChild(th);
          }
        }
        else if (route == "mrg"){
          for (keys in titlemrg) {
            var th = document.createElement("th");
            if(titlemrg[keys] == "Action")
              {th.classList.add("hideElement");}
            th.innerHTML = titlemrg[keys];
            tr.appendChild(th);
          }
        }
        else{
          return;
        }

        for (var i = 0; i < data.length; i++) {
          tr = table.insertRow(-1);
          var tabCell = ""
          var id = data[i][col[1]];
          var user = users[id].data;
          tabCell = tr.insertCell(-1);
          tabCell.innerHTML = user.firstname + " " + user.lastname;

          tabCell = tr.insertCell(-1);
          tabCell.innerHTML = user.dept;

          for (var j = 2; j < col.length; j++) {
            tabCell = tr.insertCell(-1);
            if(data[i][col[j]] == "Inter")
                tabCell.innerHTML = "International"
            else if(data[i][col[j]] == "Nat")
                tabCell.innerHTML = "National"
            else
                tabCell.innerHTML = data[i][col[j]];
          }

          tabCell = tr.insertCell(-1);
          tabCell.classList.add("hideElement");
          const url1 = "/admin/" + route + "/file-viewer/" + data[i]["id"];
          console.log(url1);
          tabCell.innerHTML = " <a class=\"btn2 \" href=\"" + url1 + "\"><i class=\"fa fa-download\"></i></a> ";

        }
      }

      var header = document.createElement("h4");
      header.innerHTML = array[route];

      var div = document.createElement("div");
      div.appendChild(header);
      div.appendChild(table);

      return div;
    }
    function printdiv() {
      var content = document.getElementById("print").innerHTML;
      var mywindow = window.open('', '_blank', 'Print', 'height=600,width=800');
      mywindow.document.write('<html><head><title>Report</title>');
      mywindow.document.write('<style>' +
        '.hideElement {display: none;}'+
        'header, footer, aside, nav, form, iframe, .menu, .hero, .adslot {display: none !important;}' +
        'body {margin: 0; color: #000; background-color: #fff;}' +
        'table {table-layout: fixed; width: 100%; border: 1px solid black; }' +
        'td { border: 0.5px solid black; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }' +
        'th { border: 0.5px solid black; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }' +
        '</style>');
      mywindow.document.write('</head><body ></br></br>');
      mywindow.document.write(content);
      mywindow.document.write('</body></html>');


      mywindow.document.close();
      mywindow.focus()
      mywindow.print();
      mywindow.close();
      return true;
    }

  </script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</body>

</html>