<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>
  <!-- Custom styles for this template -->
  <link href="/css/resume.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">
</head>

<body id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <% include ./partials/navbaradmin %>
  </nav>
  </nav>
  <div class="container-fluid p-0" style="width:69%;margin-right:10%;">
    <section class=" p-lg-4 " id="report">
      <form method="POST" action="/admin/report" id="admin">
        <div class="my-auto item" id="documents">

          <h6><label for="username" style="color:black;font-size:35px;margin-left:36.5%;"> Report Generation</label>
          </h6>

        <label > Year </label></br>
        <select id="ryear" type="text" name="ryear"  style="width: 24%;padding:5px;"></select></br>
 
        <label>Department</label></br>
        <select id="rdept" name="dept" style="width: 24%;padding:5px;">
          <option value ="" selected="selected">All</option>
          <option value="CS">Computer Science</option>
          <option value="IT">IT</option>
          <option value="ELEX">Electronics</option>
          <option value="PROD">Production</option>
        </select>
        </br>
        
        <label> Faculty Name </label></br>
        <select id="rfname" name="rfname" style="width: 24%;padding:5px;">
        </select></br>

        
        <label>Category</label></br>
        <select id="rcat" name="rcat" style="width: 24%;padding:5px;">
          <option value="" selected="selected">All</option>
          <option value="fdp"> Faculty Development Program </option>
          <option value="sttp"> Short Term Training Programs </option>
          <option value="mrg"> Research & Development / Consultancy </option>
          <option value="journal"> Journals </option>
          <option value="conference"> Conference </option>
          <option value="progatt"> Programs Attended </option>
          <option value="semwork"> Seminar/Workshop </option>
        </select>
        </br>
          

          <label>International/National</label></br>
          <select id="ri" name="ri" style="width: 24%;padding:5px;">
            <option value="" selected="selected">Select One</option>
            <option value="International"> International </option>
            <option value="National"> National </option>
          </select>
          </br>

          

          <label> Sponsorship </label></br>
          <select id="rspon" name="rspon" style="width: 24%;padding:5px;">
            <option value="" selected="selected">Select One</option>
            <option value="College Sponsored"> College Sponsored </option>
            <option value="Self Sponsored"> Self Sponsored </option>
          </select></br>
          </br>

        </div>
        <button class="btn btn--radius-2 btn--red" type="submit" value="report"> Report</button></br>
      </form>
    </section>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendorresume/jquery/jquery.js"></script>
  <script src="/vendorresume/bootstrap/js/bootstrap.bundle.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/vendorresume/jquery-easing/jquery.easing.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/js/resume.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    var end = 1900;
    var start = new Date().getFullYear();
    var options = "";
    for (var year = start; year >= end; year--) {
      options += "<option>" + year + "</option>";
    }
    document.getElementById("ryear").innerHTML = options;

    function create(url)
    {
        const request = new XMLHttpRequest();
        request.open('GET', '/user');
        request.send(); 

        
        request.onload = function() {
        if (request.status === 200) {
            console.log("Success"); 
            data = JSON.parse(request.response);
            console.log(data);
            var name = document.getElementById("rfname");
            var option = "<option value=\"\" selected=\"selected\">All</option>";
            for(i=0; i<data.length;i++)
            {
              option += "<option>" + data[i]["data"]["firstname"] + " " + data[i]["data"]["lastname"] + "</option>";
            }
            name.innerHTML = option;
                    
        };
        
        
    }
  }
    create();
      
  </script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>

</html>