<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fr.CRCE</title>

    <!-- Bootstrap core CSS -->
    <link href="vendorresume/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="vendorresume/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendorresume/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="vendorresume/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

   <!-- Icons font CSS-->
    <link href="vendorupload/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendorupload/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendorupload/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendorupload/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/upload.css" rel="stylesheet" media="all">

    <!-- Custom styles for this template -->
    <link href="css/resume.css" rel="stylesheet">
     <link href="css/nav.css" rel="stylesheet">

  </head>

  <body id="page-top">>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="images/profile.jpg" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="index.html">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="seeprofile.html">SEE PROFILE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="update.html">UPDATE PROFILE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#upload">UPLOAD DOCUMENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#">LOGOUT</a>
          </li>
          
        </ul>
      </div>
    </nav>
            <form method="POST">
                        <div class="form-row m-b-55">
                            <div class="name">Name</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" placeholder="First Name">
                                    
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" placeholder="Last Name">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name"> ID </div>
                            <div class="value">
                                <div class="input-group col-2">
                                    <input class="input--style-5" type="text" name="id" placeholder="College ID">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                                <div class="input-group col-2">
                                    <input class="input--style-5" type="email" name="email" placeholder="College Email">
                                </div>
                            </div>
                        </div>
                        
						 <div class="form-row">
                            <div class="name">Department</div>
                            <div class="value">
                                <div class="input-group col-md-12">
                                    <div class="rs-select2 js-select-simple select--no-search input--style-5">
                                        <select name="Department" >
                                            <option disabled="disabled" selected="selected">Choose option</option>
                                            <option>Subject 1</option>
                                            <option>Subject 2</option>
                                            <option>Subject 3</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                       	
                        </div>
                         <div class="form-row">
                            <div class="name">Title</div>
                            <div class="value">
                                <div class="input-group col-md-12">
                                    <input class="input--style-5" type="text" name="title" placeholder="Document Title">
                                </div>
                            </div>    
                        </div>
                        <div class="form-row">
                            <div class="name">Category</div>
                            <div class="value">
                                <div class="input-group col-2">
                                    <div class="rs-select2 js-select-simple select--no-search input--style-5">
                                        <select name="Category" >
                                            <option disabled="disabled" selected="selected">Choose option</option>
                                            <option>Category 1</option>
                                            <option>Category 2</option>
                                            <option>Category 3</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Year</div>
                            <div class="value">
                                <div class="input-group col-2">
                                    <input class="input--style-5" type="num" name="year" placeholder="Year Done">
                                </div>
                        </div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Submit</button>
                        </div>
                    </form>
                    
             <!-- Jquery JS-->
    <script src="vendorupload/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendorupload/select2/select2.min.js"></script>
    <script src="vendorupload/datepicker/moment.min.js"></script>
    <script src="vendorupload/datepicker/daterangepicker.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="vendorresume/jquery/jquery.min.js"></script>
    <script src="vendorresume/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendorresume/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.js"></script>

  </body>

</html>
